h1 {
	text-align: center;
	padding: 50px;
}

p {
	width: 300px;
	height: 100px;
	padding: 5px;
	padding-top: 10px;
	border: 2px solid black; 
}

.p1 {
	float: left;
}

.p2 {
	float: left;
}

.p3 {
	float: left;
}