* {
	box-sizing: border-box;
}

h1 {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	font-family: Helvetica;
}

p {
	padding: 15px;
	padding-top: 30px;
}

.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-1{
		float: left;
	}
	.col-lg-1 {
		width: 33.33%;
	}
	div.section#p1 {
		width: 95%;
	}
	div.section#p2 {
		width: 95%;
	}
	div.section#p3 {
		width: 95%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2 {
		float: left;
	}
	.col-md-1{
		width: 50%;
	}
	.col-md-2 {
		width: 100%;
	}
	div.section#p1 {
		width: 96%;
	}
	div.section#p2 {
		width: 96%;
	}
	div.section#p3 {
		width: 98%;
		margin-top: 0;
	}
	
}

.section {
	width: 90%;
	height: 170px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	border: 1px solid black; 
	background-color: #d3d3d3;
	font-family: Helvetica;
	overflow: hidden;
	position: relative;
}

.food {
	float: right;
	width: 150px;
	height: 35px;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	text-align: center;
	padding-top: 2px;
	margin: 0;	
}

.chicken {
	background-color: #ffc0cb;
}

.beef {
	color: white;
	background-color: #ec5252;
}

.sushi {
	background-color: #eeee73;
}